<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2>Add or Modify Pet</h2>

<form action="#" th:action="@{/account/add}" th:object="${account}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="displayName">UserName:</label>
        <input type="text" id="displayName" th:field="*{displayName}">
    </div>
    <div>
        <label for="password">Password:</label>
        <!-- Might use datepicker or will just do in react -->
        <input type="text" id="password" th:field="*{age}" data-datepicker>
    </div>
    <div>
        <label for="email">Email:</label>
        <select id="email" name="email">
            <!-- Populated dropdown dynamically using an API -->
        </select>
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>