<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<form action="#" th:action="@{/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <!-- Idk if we'll need this, user selects what account type they're trying to log into -->
        <label for="accountType">Account Type:</label>
        <select id="accountType" name="accountType">
            <option value="regular">Regular User</option>
            <option value="provider">Service Provider</option>
        </select>
    </div>
    <button type="submit">Login</button>
</form>

</body>
</html>
